/* ------------------ RESET ------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styles */
/* Business styles */

*{
    box-sizing: border-box;
    
}
p{
    color: gray;
    line-height: 20px;
}
/* header */
header{
    background-image: linear-gradient(to right, rgb(124, 121, 121) , rgb(78, 78, 76));
    padding: 40px;
}
header h1{
    font-size: 35px;
    color: white;
    display: inline-block;
}
header span{
   color: rgb(158, 157, 157);
   float: right;
}
/* navbar */
nav{
    background-color: cadetblue;
    padding-left: 10px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 20px 30px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
/* main */
main{
    width: 95%;
    margin: 30px auto;
}
.photo {
    height: 35vh;
    padding: 10px;
}
.photo img{
    width: 100%;
    height: 100%;
    outline: 1px solid rgb(179, 176, 176);
    outline-offset: 10px;
}
.main-content{
    padding-top: 30px;
}
.main-content .welcome-part{
    width: 80%;
    float: left;
    padding-right: 20px;
  
}

aside{
    width: 20%;
    display: inline-block;
}
.welcome-part .welcome h2{
    font-size: 30px;
}
.welcome p{
    margin-top: 25px;

}
.welcome p span{
    color: black;
}
.welcome p a{
    color: rgb(42, 174, 179);
}
.left-part{
    width: 48%;
    float: left;
    margin-right: 20px;
    

}
.right-part{
    width: 50%;
    display: inline-block;
}
.right-part h2 , .left-part h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
h2{
    font-size: 25px;
}
.box{
    border-bottom: 1px solid rgb(182, 179, 179);
    padding-bottom: 30px;
    padding-left: 7px;
    margin-top: 30px;
}
.box-3{
    border: none;
}
.box img{
    float: left;
    margin-right: 25px;
    outline: 1px solid rgb(221, 220, 220);
    outline-offset: 5px;
}
.link a{
    color: cadetblue;
}
.link{
    border-bottom: 1px solid rgb(221, 220, 220);
    padding: 17px 0;
}
.last-link{
    border: none;
}
aside .aside-heading{
    margin-top: 10px;
}
.link span{
    background-color: gray;
    color: white;
    padding: 2px 4px;
    margin-right: 5px;
}

footer{
    clear: both;
    background-image: linear-gradient(to right, rgb(124, 121, 121) , rgb(78, 78, 76));
    padding: 30px;
    height: 35vh;
    color: white;
    margin-top: 80px;
}
.footer-content{
    width: 80%;
    float: left;
    padding-right: 30px;
}
.footer-content p{
    color: white;
    margin-top: 20px;
}
.footer-links{
    width: 20%;
    display: inline-block;
}
.f-link{
    border-bottom: 1px solid gray;
    padding: 15px 0;
}
.f-link a{
    color: white;

}



/* ------------------------------------------------------------------------------------ */